{% extends 'books/base.html' %}

{% block title %}Update Book Details{% endblock %}

{% block body %}

<div class="container-fluid site-text" style="font-size: 16px;">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          <h2>Update Book Details</h2>
          <br>
          {% if error_message %}
            <div class="alert alert-danger">{{ error_message }}</div>
          {% endif %}
          <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'books/form-template.html' %}
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-success">Confirm</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}