{% extends 'accounts/base.html' %}

{% block body %}
<div class="container-fluid site-text">
  <div class="row">
    <div class="col-sm-12 col-md-7">
      <div class="panel panel-default">
        <div class="panel-body">
          {% if validlink %}
            <h2>Change Password</h2>
            <br>
            {% if error_message %}
              <p><strong class="text-danger medium">{{ error_message }}</strong></p>
            {% endif %}
            <form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% include 'accounts/form-template.html' %}
              <div class="form-group">
                <div class="col-sm-offset-3 col-sm-10">
                  <button type="submit" class="btn btn-success">Submit</button>
                </div>
              </div>
            </form>
          {% else %}
            <h2>Invalid Link</h2>
            <p style="font-size:16px;">
              The password reset link was invalid, possibly because it has already been used.
              Please request a new password reset.
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}