<!DOCTYPE html>
<html lang="en">
<body style="font-family: 'Trebuchet MS', Helvetica, sans-serif">
  <div class="jumbotron">
    <h1><img src="http://www.powells.com/Portals/0/favicon.ico"><strong>&nbsp;Tufts Textbook Xchange</strong></h1>
  </div>
  <h3>Hi {{ user.first_name }},</h3>
  <h4>We've received a request to reset your password.</h4>
  <p>If you didn't make the request, just ignore this email.</p>
  <p>Otherwise, you can reset your password using this link:</p>
  <br>
  <div>
    <a href="{{ protocol }}://{{ domain }}{% url 'accounts:password_reset_confirm' uidb64=uid token=token %}" class="btn btn-primary">
      Click here to reset your password
    </a>
  </div>
  <br>
  <br>
  <p>Thanks,</p>
  <p>The TTX Team</p>
</body>
</html>